In [21]:
#위치 매개변수
def calc(a,b):
    """
    이 함수는 2개의 인자값을 받아
    연산한 값을 리턴 합니다
    """
    result = a+b
    result1 = a-b
#     print(result)
    return result,result1

In [22]:
print(calc(3,4))

(7, -1)

In [23]:
calc?

In [19]:
a=3
b=10

In [20]:
a,b=b,a
print(a,b)

10 3

In [27]:
#기본 매개변수
def calc2(end, start=0):
    tot = 0
    for i in range(start,end):
        tot = tot +i
    return tot

In [28]:
print(calc2(5))

10

In [35]:
import numpy as np
import pandas as pd
from pandas import DataFrame

In [37]:
df1=DataFrame(np.random.rand(4,4),columns=list('abcd'),index=list('edfg'))
df1

          a         b         c         d
e  0.751188  0.501778  0.427449  0.970856
d  0.490565  0.965039  0.428010  0.916284
f  0.611254  0.190402  0.682498  0.704871
g  0.461072  0.724044  0.971931  0.950323

In [38]:
#키워드 매개변수
def calc3(name, age):
    print('%s의 나이는 %d' %(name,age))

In [40]:
calc3(name='홍길동',age=25)

홍길동의 나이는 25

In [49]:
#가변 매개변수
def calc4(myType,*args):
    print(myType)
    print(args)

In [50]:
calc4('+',2,3,4)
calc4('-',2,3,4,5,6,7)

+
(2, 3, 4)
-
(2, 3, 4, 5, 6, 7)

In [53]:
def calc5(**args):
    print(args)

In [54]:
calc5(name="손흥민",age=27)

{'name': '손흥민', 'age': 27}